@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-color: rgba(247, 241, 241, 0.521);
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.0em;
    font-family: 'Lobster', sans-serif;
    color: #72286dd7;

    /* border: 1px solid black; */

}

.section {
    display: flex;
    flex-direction: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin-right: 10%;
    flex: 40%;
}


.container h2 {
    font-size: 5.0em;
    font-family: 'Lobster', sans-serif;
    color: #72286dd7;

}

.img-container {
    margin-left: 10%;
    flex: 40%;
    text-align: center;
    /* border: 1px solid black; */
}

.img-container img {
    max-width: 100%;
    width: 90%;
    height: 100%;
}

.cad-form {
    height: 400px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

label {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    /* border: 1px solid black; */

}

input {
    width: 90%;
    outline: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;

}

button {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20.0em;
    background: #72286dd7;
    color: white;
    border-radius: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;

}

button:hover {
    background: white;
    color: #72286dd7;
    border: 1px solid #72286dd7;
}

footer {

    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;

}